.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color-mix(in srgb, var(--primary) 80%, transparent);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--secondary);
  border-radius: var(--rounded-bs);
  color: var(--accent-secondary);
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: var(--rounded-sm);
}

.close:hover {
  background-color: var(--accent);
}

.close:active {
  background-color: var(--accent-tertiary);
}

.close::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('@assets/plus.svg');
  transform: translate(-50%, -50%) rotate(45deg);
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.action {
  display: block;
  width: 64px;
  height: 32px;
  border-radius: var(--rounded-sm);
  background-color: var(--accent);
}

.action:hover {
  background-color: var(--accent-tertiary);
}

.action:active {
  background-color: var(--accent);
}
